<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.momo.system.user_role.mapper.UserRoleMapper">

    <select id="getRoleIdByUserId" parameterType="long" resultType="com.momo.system.user_role.entity.UserRole">
        select * from sys_user_role
        where user_id = #{userId}
    </select>
</mapper>